*{
    margin: 0;
    padding: 0;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
body{
  background-color: #f5f8ff;
}
header{
    height: 700px;
    width: 100%;
    background-image: url(images/Hero-bg.png);
    background-size: cover;
}
/* nav section style */
.navbar{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px ;

}
.logo{
 font-size: 35px;
 color: #4E47FF;
 margin-top: 10px;
 margin-left: 100px;
}
.btn{
    height: 45px;
    width: 130px;
    background-color: #4E47FF;
    color:#ffffff;
    border-radius: 8px;
    margin-right: 100px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(38, 185, 38);
    border: none;
}
/* banner section style */
.banner{
    height: 700px;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-inner{
       height: 235px;
       width: 900px;
       text-align: center;
}
.banner-description{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}
.banner button{
    height: 45px;
    width: 170px;
}

/* style for action section */

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.webflow{
    height: 328px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-top: 200px;
}
.action-area{
    padding-right: 150px ;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 20px;
}
.action-description{
    font-size: 24px;
    color:#252432;
    margin-bottom: 20px;
}
.action-area button{
    width: 200px;
}
.webflow img{
    border-radius: 20%;
}
/* style for count section */
.user-count{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.user-outer-container{
    height: 300px;
    width: 1140px;
    background-color:#E5E7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.user-inner-container{
    height: 250px;
    width: 850px;
    
    text-align: center;
    

}
.count-title{
    font-size: 38px;
    font-weight: bold;
    margin-top: 20px;
 

}
.count{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;


}
.primary{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.regular{
    font-size: 20px;
    color: #0000005e;
}
/* style for review section */
.review-section{
    height: 500px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}
.review{
    height: 350px;
    width: 1140px;
    
    text-align: center;
     
    
}

.reviewer-outer{
    height: 350px;
    width: 1140px;
    
     display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.reviewer-inner{
    height: 200px;
    width: 1140px;
    
     display: flex;
    align-items: center;
    justify-content: center;
    
}
.review-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.reviewer{
    height: 200px;
    width: 100%;
    background-color: #ffffff;
    margin: 20px;
    text-align: left;
    padding: 20px;
}
.reviewer-title{
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}
.reviewer-description{
   font-size: 16px;
   font-weight: 400;

}
.reviewer-details{
    display: flex;
    margin-top: 20px;
}
.reviewer-details img{
    border-radius: 50%;
    margin-right: 20px;
}
.name{
    font-size: 16px;
    font-weight: 600;
}
.date{
    font-size: 12px;
    font-weight: 200;
    margin-top: 10px;
}
.contract{
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.contract-inner{
    height:600px ;
    width: 1150px;
   
    display: flex;
    justify-content: space-between;
   align-items: center;

}
.contract-title{
    font-size: 90px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}
.input-area{
    height: 500px;
    width: 490px;
    margin-top: 50px;
}
.input-area input{
    height: 40px;
    width: 500px;
    margin-bottom: 20px;
}
.input-area textarea{
    height: 140px;
    width: 500px;
}
.input-area button{
    height: 40px;
    width: 500px;
}